@page "{key}"
@model GoogleAuthenticatorWeb.Pages.Google.Step3Model
@{
    ViewData["Title"] = "Step3";
}

    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">双重验证码</label>
                <input asp-for="Code" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="开启" class="btn btn-primary" asp-page-handler="chcek" />
            </div>
        </form>
        <a href="/Google/Step2/@Step3Model.unid">上一步</a>
    </div>

