@page "{key}"
@model GoogleAuthenticatorWeb.Pages.Google.Step2Model
@{
    ViewData["Title"] = "Step2";
}

<h1>请使用谷歌验证器扫描下方二维码，成功后您会获得一个6位数字的双重验证码，改验证码每30秒改变一次</h1>
<div>
    <img src="@Model.CodeData.QrCodeImageUrl" />
</div>
<div>
    <code>@Model.CodeData.EncodedSecretKey</code>复制
    <p>如果扫吗失败，请手动输入上方的秘钥到验证器。你需要设置一个账户名，例如***12.</p>
    <a href="/Google/Step3/@Model.unid">下一步</a>
    <a href="/Google/Step1/@Model.unid">上一步</a>
</div>

